<div class="bg-white d-flex justify-content-between align-items-center py-3 px-4 border-bottom">
    <h5 class="mb-0"><%= pageTitle || 'Dashboard Overview' %></h5>
    
    <div class="d-flex align-items-center gap-2">
        <span id="adminNamePlaceholder"><%= typeof name !== 'undefined' ? name : 'Admin' %></span>
        <i class="fa-solid fa-user"></i>
        <a href="/admin/logout" class="btn btn-outline-danger btn-sm ms-3">Logout</a>
    </div>
</div>
