<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid px-4">
        <a class="navbar-brand fw-bold me-4" href="/">Next Step</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link px-3" href="#">Men</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#">Women</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#">Kids</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#">Sale</a></li>
            </ul>

            <div class="d-flex align-items-center gap-3">
                <form class="d-flex position-relative me-2">
                    <input class="form-control pe-5" type="search" placeholder="Search shoes..." style="min-width: 250px;">
                    <button class="btn position-absolute end-0 top-50 translate-middle-y border-0 bg-transparent" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>

                <a href="#" class="text-dark" title="Wishlist">
                    <i class="bi bi-heart fs-5"></i>
                </a>

                <a href="/signin" class="text-dark" title="Logout">
                    <i class="bi bi-box-arrow-right fs-5"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
